.ExpenseIncomeInput {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 20%;
}

.ExpenseIncomeInput > input,
.ExpenseIncomeInput > select {
  border: none;
  border-bottom: 1pt solid #ccc;
  margin: 10px;
  text-align: center;
  width: calc(100% - 20px);
}

.ExpenseIncomeInput > button {
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid var(--green-money);
  color: var(--green-money);
  width: 100%;
}

/* Tablet */
@media (min-width: 569px) and (max-width: 1200px) {
  .ExpenseIncomeInput {
    max-width: 30%;
  }
}

/* Mobile */
@media (max-width: 568px) {
  .ExpenseIncomeInput {
    max-width: 90%;
  }
}
